doctype html
html
	head
		title Нальчик - Ресторан Кавказской кухни
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Merriweather:400|Roboto:300,300i,400,400i,500,500i,700,700i&subset=cyrillic")
		link(rel="stylesheet" href="style/main.min.css")
	body

		#wrapper
			section#container
				.logo
					img(src="/img/assets/nalchik-logo.svg")
				
				ul.main-nav
					li
						a(href="#") Основное меню
					li
						a(href="#") Барная карта

				.contacts
					ul.address
						li
							a(href="https://yandex.ru/maps/213/moscow/?mode=search&text=Удальцова%2050%20к.1&sll=37.620393%2C55.753960&ll=37.490198%2C55.683632&z=15" target='_blank') Адрес: Удальцова 50 к.1 
						li 
							a(href="tel:+74994311158") Телефон: +7 (499) 431-11-58

					p Подпишитесь на наши социальные сети:

					ul.social
						li
							a(href="facebook.com").f-icon
						li
							a(href="instagram.com").i-icon


script(src="js/main.min.js")